[Unit]
Description=Run wallpaper.sh to change wallpaper by daytime

[Timer]
OnCalendar=06:00
OnCalendar=16:00
OnCalendar=20:00
Persistent=true
Unit=wallpaper.service

[Install]
WantedBy=timers.target

