@import "mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  /*background: rgba(30, 30, 46, 0.6);*/
  color: @lavender;
}

.modules-left {
  background: @base;
  border-radius: 0px 0px 12px 0px;
}

#mpris {
  background: @base;
  border-radius: 0px 0px 12px 12px;
}

.modules-right {
  background: @base;
  border-radius: 0px 0px 0px 12px;
}

tooltip {
  background: @base;
  border-radius: 12px;
  border: 1px solid @surface2;
}

tooltip * {
  margin: 4px;
  color: @lavender;
}

#power,
#clock,
#mpris,
#cpu,
#clock,
#tray,
#memory,
#pulseaudio {
  padding: 0.75rem 1rem;
}

#workspaces button {
  border: none;
  color: @surface2;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button:hover {
  transition: none; 
  box-shadow: inherit;
  text-shadow: inherit;
  color: @mauve;
}

#power {
  color: @red;
}

.not-power {
  color: @lavender;
}

#clock {
  color: @mauve;
}
