@import "mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

window#waybar {
  background: transparent;
  color: @lavender;
}

.modules-left {
  background: @base;
  border-radius: 0 0 1rem 0;
  border-bottom: 2px solid @surface0;
  border-right: 2px solid @surface0;
}

#mpris {
  background: @base;
  border-radius: 0 0 1rem 1rem;
  border-bottom: 2px solid @surface0;
  border-right: 2px solid @surface0;
  border-left: 2px solid @surface0;
}

.modules-right {
  background: @base;
  border-radius: 0 0 0 1rem;
  border-bottom: 2px solid @surface0;
  border-left: 2px solid @surface0;
}

tooltip {
  background: @base;
  border-radius: 1rem;
  border: 2px solid @surface2;
}

tooltip * {
  margin: 0.25rem;
  color: @lavender;
}

#power,
#clock,
#mpris,
#cpu,
#clock,
#tray,
#memory,
#pulseaudio {
  padding: 0.5rem 0.75rem;
}

#workspaces button {
  border: none;
  color: @surface2;
}

#workspaces button.active {
  color: @lavender;
}

#workspaces button:hover {
  transition: none; 
  box-shadow: inherit;
  text-shadow: inherit;
  color: @mauve;
}

#power {
  color: @red;
}

.not-power {
  color: @lavender;
}

#clock {
  color: @mauve;
}

