@import "mocha.css";

* {
    font-family: "JetBrains Mono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
}

#waybar {
  background: transparent;
  margin: 4px 4px;
  color: @text;
  /*background: rgba(30, 30, 30, 0.4);*/
}

#workspaces button {
  border: none;
  color: @surface2;
}

#workspaces button.active {
  color: @text;
}

#workspaces button:hover {
  transition: none; 
  box-shadow: inherit;
  text-shadow: inherit;
  background: @surface0;
  border-radius: 12px;
  color: @yellow;
}

#workspaces,
#clock,
#mpris,
#cpu,
#clock,
#tray,
#memory,
#pulseaudio {
  background-color: @surface0;
  /*background-color: rgba(49, 50, 68, 0.4);*/
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 12px;
  /*border-bottom-width: 3px;
  border-bottom-color: @surface1;
  border-bottom-style: solid;*/
  /*border-bottom-width: 3px;
  border-bottom-color: rgba(69, 71, 90, 0.4);
  border-bottom-style: solid;*/
}

#clock,
#mpris,
#cpu,
#clock,
#tray,
#memory,
#pulseaudio {
  padding: 0.25rem 1rem;
}

#memory {
  color: @green;
  /*border-bottom-color: @green;*/
}

#cpu {
  color: @yellow;
  /*border-bottom-color: @yellow;*/
}

#pulseaudio {
  color: @maroon;
  /*border-bottom-color: @maroon;*/
}

#clock {
  color: @blue;
  /*border-bottom-color: @blue;*/
}
