@theme "theme"

configuration {
  modes: "window,drun";
  font: "JetBrainsMono Nerd Font SemiBold 14";
  show-icons: true;
  drun-display-format: "{name}";
  matching: "fuzzy";

  timeout {
    action: "kb-cancel";
    delay: 0;
  }
}
